[run]
omit =
    api/management/*
    api/routing.py
    api/urls.py
    api/middleware.py
    backend/urls.py
    */migrations/*
    */tests/*
    */__init__.py
    */asgi.py
    */wsgi.py
    */settings.py
    */manage.py
    seed_db.py