anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
channels==4.3.0
channels-redis==4.0.0
click==8.3.2
coverage==7.13.5
Django==5.2.8
django-cors-headers==4.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
gunicorn==25.2.0
h11==0.16.0
httptools==0.7.1
idna==3.11
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
msgpack==1.1.2
packaging==26.0
pillow==10.4.0
pluggy==1.6.0
psycopg==3.3.3
psycopg2-binary==2.9.9
Pygments==2.19.2
PyJWT==2.12.1
pytest==9.0.2
pytest-cov==7.1.0
pytest-django==4.12.0
pytest-dotenv==0.5.2
python-dotenv==1.0.1
PyYAML==6.0.3
redis==7.4.0
referencing==0.37.0
rpds-py==0.30.0
sqlparse==0.5.5
typing_extensions==4.15.0
uritemplate==4.2.0
uvicorn==0.22.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
whitenoise==6.12.0